<div class="title-box">
    <div class="title">
      <h1 class="font_2" style="line-height:1.3em; text-align:center;">
        <span>
          Aspire Top Ranks from comfort of your home</span>
      </h1>
      <div id="explore" >
        <button class="btn " (click)="redirect()">
            Explore Online Courses
        </button>
      </div>
    </div>
  </div>
<div class="how-it-works">
  <div class="how text-center">
      <h1 class="works">How It Works?</h1>
  </div>
  <div class="text-center">
      <ul>
          <li>
            <div class="item item-1 works-list-element">
              <div>
                <h3 style="color:blue; font-size:19px">Register for Course</h3>
              </div>
              <div class="title-line">
                &nbsp;
              </div>
              <div>
                  <p>Fill the registration
                    form for the course and check further steps in your email<br>
                  <button class="btn btn-primary">Register for the course</button></p>
              </div>
            </div>
          </li>
          <li>
            <div class="item item-2 works-list-element">
              <div>
                <h3 style="color:#e8940c; font-size:19px">Join Google Classroom</h3>
              </div>
              <div class="title-line">
                &nbsp;
              </div>
              <div>
                  <p>Follow the steps in
                    your email to join google classroom through browser or app</p>
              </div>
          </div>
          </li>
          <li>
            <div class="item item-3 works-list-element">
              <div>
                <h3 style="color:#ff8265; font-size:19px">Google Classroom Stream</h3>
              </div>
              <div class="title-line">
                &nbsp;
              </div>
              <div>
                  <p>Keep following your google classroom
                    stream for schedule and lecture links</p>
              </div>
            </div>
          </li>
          <li>
            <div class="item item-4 works-list-element">
              <div>
                <h3 style="color:#0db2a8; font-size:19px">Attend LIVE Lectures</h3>
              </div>
              <div class="title-line">
                &nbsp;
              </div>
              <div>
                  <p>Attend the lectures with full sincerity and regularity</p>
              </div>
            </div>
          </li>
      </ul>
  </div>
</div>
<section id="our-course-benefits">
  <div class="benefits text-center"><h2>Our Course Benefits</h2></div>
  <div class="benefits-list">
    <ul>
        <li>
          <div class="course-benefits works-list-element">
            <div class="course-benefit-icon">
              <img src="..\assets\sr01.png" style="width:52px">
            </div>
            <div class="benefit-item benefit-item-1">
              <div>
                <h3>Expert Teachers</h3>
              </div>
              <div>
                  <p>Study from the best Lakshya teachers
                    who have produced toppers in various exams</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="course-benefits works-list-element">
            <div class="course-benefit-icon">
              <img src="..\assets\laptop.png">
            </div>
            <div class="benefit-item benefit-item-2">
              <div>
                <h3>Super easy to attend lectures</h3>
              </div>
              <div>
                  <p>Attend lectures from your home on a
                    wonderful smooth platform very similar to your actual classroom</p>
              </div>
            </div>
        </div>
        </li>
        <li>
          <div class="course-benefits works-list-element">
            <div class="course-benefit-icon">
              <img src="..\assets\elearning.png">
            </div>
            <div class="benefit-item benefit-item-3">
              <div>
                <h3>Interact with the teachers in Class</h3>
              </div>
              <div>
                  <p>Use chat and poll options to
                     interact LIVE with the teacher in the classroom</p>
              </div>
            </div>
          </div>
        </li>
    </ul>
  </div>
</section>
