<div class="title-box">
  <div class="title">
      <h1 class="text-center">10th Olympiad Physics and Math</h1>
  </div>
  <div class="schedule">
    <div class="days">
      <h3 class="day-defined">Tuesday and Thursday</h3>
    </div>
    <div class="time">
        <h3>7:30 pm to 9:00 pm</h3>
    </div>
  </div>
  <div class="passion">
      <h4>Explore the world of Olympiads</h4>
  </div>
  <div class="register">
      <button class="btn btn-primary" (click)="onNavigate()">Register</button>
  </div>
  <div>
      <ul>
        <li>
            <div class="about"><h2 class="text-center">About Course</h2></div>
            <div class="data-about">
              <p class="about-content">This Online Course aims to expose students to the highest level of Physics and Math Olympiad problems asked in Physics and Math Olympiads(NSEP and IMO). Specially designed for very intelligent 10th class kids who wish to prepare for Physics and Math Olympiad future competitive examinations. The Course aims to develop super strong basics of Physics and Mathematics and problem solving skills which will help the child ease through the journey of competitive exams.</p></div>
        </li>
        <!-- <li>
            <div class="sch"><h2>Schedule</h2></div>
            <div class="data-sch"><p>Every Tuesdays and Thursdays 6:30 pm to 8:00 pm</p></div>
        </li> -->

      </ul>
  </div>
</div>
