<div class="title-box">
  <div class="oc1 text-center">
      <h3>Online Courses</h3>
  </div>
  <div class="text-center">
      <h1>Attend Live Lectures from<br>comfort of your home</h1>
  </div>
  <div class="course-list">
      <ul>
        <li>
          <div class="works-list-element">
            <div class="standard">
              <h3 class="item-1">8th Olympiad Course For Maths and MAT</h3>
            </div>
            <div class="explore-btn">
                <p><button class="btn btn-primary" (click)="redirect_8()">Explore more</button></p>
            </div>
          </div>
        </li>
        <li>
          <div class="works-list-element">
            <div class="standard">
              <h3 class="item-2">9th Foundation Course for Mathematics </h3>
            </div>
            <div class="explore-btn">
                <p><button class="btn btn-primary" (click)="redirect_9()">Explore more</button></p>
            </div>
          </div>
        </li>
        <li>
          <div class="works-list-element">
            <div class="standard">
              <h3 class="item-3">10th Olympiad Course for Physics and Maths</h3>
            </div>
            <div class="explore-btn">
                <p><button class="btn btn-primary" (click)="redirect_10()">Explore more</button></p>
            </div>
          </div>
        </li>
        <li>
          <div class="works-list-element">
            <div class="standard">
              <h3 class="item-4">11th Olympiad Course for Physics</h3>
            </div>
            <div class="explore-btn">
                <p><button class="btn btn-primary" (click)="redirect_11()">Explore more</button></p>
            </div>
          </div>
        </li>
        <li>
          <div class="works-list-element">
            <div class="standard">
              <h3 class="item-5">Online NTSE Camp(LNOC)</h3>
            </div>
            <div class="explore-btn">
                <p><button class="btn btn-primary" (click)="redirect_ntse()">Explore more</button></p>
            </div>
          </div>
        </li>
      </ul>
  </div>
</div>
